.footer {
  background-color: #28323C;
  font-family: 'RobotoCondensedRegular';

  color: rgba(206, 206, 206, 0.6);
  background-blend-mode: multiply;
  padding: 1rem;  
  width: 100%;
  height: 25rem;
  overflow-y: hidden;
  
  display: grid;
  grid-template-columns: 10% 30% 30%;
  grid-template-rows: repeat(auto, minmax(max-content, 1fr));
  justify-content: center;
  
  grid-gap: 0.86rem;
  
}

.footer__h5{
  color: aliceblue;
  font-size: large;
  font-weight: 300;
}


@media (max-width: 50rem){
  .footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.footer-licencia{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-weight: normal;
  padding: 0.08rem 5rem ;
  background-color: #1C252E;
  color: rgba(206, 206, 206, 0.6);
  
  
}

@media (max-width: 50rem){
  .footer-licencia{
    font-size: small;
    font-weight: normal;
  }
}

.footer_secction{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
    
}

.footer-imges{
  height: 6em;
  border-radius: 10px;
  padding: 1em;
}

.fa{
  /* logo */
  /* background-color: #0070f3; */
  width: 100%;
  height: min-content;
  grid-column: span 1;
}

@media (max-width: 50rem){
  .fa{
    display: flex;
    justify-content: center;
  }
}

.fb{
  /* contacto */
  /* background-color: #f30049; */
  width: 100%;
  height: min-content;
  grid-column: 2/3;
  
}

.fc{
  /* horario */
  /* background-color: #bef300; */
  width: 100%;
  height: min-content;
  grid-column: 3/4;
}

.fd{
  /* redes sociales */
  /* background-color: #f30000; */
  text-align: center;
  min-width: 100%;
  height: min-content;
  grid-column: 3/4;
  grid-row: 2;
}

.fd > h5{
  font-family: 'RobotoCondensedRegular';
  
}


@media (max-width: 50rem){
  .fd{
    display: flex;
    justify-content: center;
    
  }
}

.fe{
  /* informacion del contacto */
  /* background-color: #00f37a; */
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2;
}

.footer-logo{
  height: 5rem;
}

.center__div{
  display: flex;
  justify-content: space-around;
}

.center__div > img {
  margin-left: 10px;
  width: 30px;
}

.pulseBtn {
  border-radius: 2px;
  box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7);
  animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 30px rgba(230, 237, 255, 0);
  }
}