.hero {
	align-items: flex-start;
	border-radius: 0 0 15px 15px;
	border-top: 2px solid var(--hero-top);
	display: flex;
	flex-flow: row wrap;
	height: 55vh;
	justify-self: flex-start;
	margin-top: 80px;
	padding: 1.5em;
	width: 100%;
}

.hero__left {
	align-items: flex-start;
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	justify-content: center;
	width: 50%;
	/* border: 1px dotted yellow; */
}

.hero__right {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 50%;
	/* border: 1px dotted yellow; */
}

.hero__title {
	color: var(--text-white);
	display: flex;
	flex-flow: row wrap;
	font-family: texgyreadventorregular;
	font-size: 6em;
	line-height: 1em;
	margin-left: 25px;
	/* text-shadow: var(--shadow-dark) -13px -8px 10px; */
}

.hero__slogan {
	color: var(--text-white);
	display: block;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 2em;
	font-style: italic;
	font-weight: lighter;
	letter-spacing: 1px;
	text-align: right;
	width: 100%;
	/* text-shadow: var(--shadow-dark) -10px -5px 7px; */
}

.hero__grid {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(3, 1fr);
	
}

.hero__grid-item {
	box-sizing: border-box;
	border-radius: 7px;
	border: 3px solid #fff;
	object-fit: contain;
	overflow: hidden;
	transition: all 0.5s;
	height: 170px;
	width: 170px;
}

.flip-card {
	box-sizing: border-box;
	background-color: transparent;
	perspective: 1000px;
	height: 170px;
	width: 170px;
	
}

.flip-card-inner {
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	position: relative;
	height: 170px;
	width: 170px;
	font-size: small;
	
}

.flip-card:hover .flip-card-inner {
	transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: grid;
	place-items: center;
	position: absolute;
	height: 170px;
	width: 170px;
}

.flip-card-front {
	box-sizing: border-box;
	background-color: var(--background);
	color: black;
	height: 170px;
	width: 170px;
	
}

.flip-card-back {
	box-sizing: border-box;
	align-items: center;
	background-color: var(--color-dark);
	color: white;
	display: flex;
	flex-flow: column;
	justify-content: center;
	transform: rotateX(180deg);
	padding: 0.86em;
	height: 170px;
	width: 170px;

}

/**_____ _____ _____  mediaQuerys _____ _____ _____ */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.hero {
		align-items: flex-start;
		border-radius: 0 0 15px 15px;
		border-top: 2px solid var(--hero-top);
		display: flex;
		/* flex-flow: row wrap; */
		flex-flow: column;
		/* height: 55vh; */
		height: 85vh;
		justify-self: flex-start;
		/* margin-top: 80px; */
		margin-top: 78px;
		/* padding: 1.5em; */
		padding: 0.5em;
		width: 100%;
	}

	.hero__left {
		align-items: flex-start;
		display: flex;
		flex-flow: column nowrap;
		/* height: 100%; */
		height: 50%;
		justify-content: center;
		/* width: 50%; */
		width: 100%;
		/* border: 1px dotted yellow; */
	}

	.hero__right {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		overflow: scroll;
		/* width: 50%; */
		width: 100%;
		/* border: 1px dotted yellow; */
	}

	.hero__title {
		color: var(--text-white);
		display: flex;
		flex-flow: column wrap;
		font-family: texgyreadventorregular;
		/* font-size: 8em; */
		font-size: 5.5em;
		line-height: 1em;
		margin-left: 25px;
		/* text-shadow: var(--shadow-dark) -13px -8px 10px; */
	}

	.hero__slogan {
		color: var(--text-white);
		display: block;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
			'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		/* font-size: 2.5em */
		font-size: 1.5em;
		font-weight: lighter;
		font-style: italic;
		/* letter-spacing: 1px; */
		letter-spacing: 0;
		margin-bottom: 1em;
		text-align: right;
		width: 100%;
		/* text-shadow: var(--shadow-dark) -10px -5px 7px; */
	}

	.hero__grid {
		display: grid;
		gap: 0.36em;
		grid-template-columns: repeat(3, 1fr);

	}

	.hero__right{
		width: 100%;
		overflow: hidden;
	}

	.hero__grid-item {
		height: 110px;
		width: 110px;
		display: flex;		

	}

	.flip-card-front,
	.flip-card-back {
		height: 110px;
		width: 110px;		
	}

	.flip-card-inner{
		display: flex;
		align-items: center;
		height: 110px;
		width: 110px;
		font-size: smaller;

	}

	.flip-card-back{		
		max-height: 170px;
		padding: 1rem;
	}

	.flip-card-back > p {
		width: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

	}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
